
.vs/Cmake/v17/ipch/AutoPCH/140260e30ec9403e/VIDEOSTAB.ipch
.vs/Cmake/v17/ipch/AutoPCH/b6167a361dad7ba1/VIDEOSTAB.ipch
.vs/Cmake/FileContentIndex/45f4c359-1166-4137-8404-a12e6ddc21c1.vsidx
.vs/Cmake/FileContentIndex/1cc5c641-16eb-426a-92d5-aeddc18c39f2.vsidx
.vs/Cmake/v17/Browse.VC.opendb
